.about {
  background-color: var(--bg-main-grey);
  display:flex;
  justify-content:center;
  align-items: center;
  text-align: center; 
  padding: 55px 30px 100px 30px;
  color: var(--color-main-black);
}

.about-title {
  font-size: 34px;
  font-weight: 700;
  margin: 0 0 42px 0;
}

.about-subtitle-ru,
.abuit-subtitle-en {
  font-size: 18px;
  font-weight: 500;
  margin: 0 auto 10px 0;
  max-width: 780px;
}

.about-discription-ru,
.about-discription-en {
  text-align: justify;
  font-size: 18px;
  font-weight: 500;
  margin: 0 auto 15px 0;
  max-width: 780px;
}

.abuit-subtitle-en {
  margin: 15px auto 15px 0;
}

.about-discription-en {
  margin: 0 auto 0 0px;
}

@media (max-width: 480px) {
  .about-subtitle-ru,
  .abuit-subtitle-en,
  .about-discription-ru,
  .about-discription-en {
    font-size: 14px;
  }
}
